---
import Layouts from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import Card from "../components/Card.astro";
import Footer from "../components/Footer.astro";
import { getCollection } from "astro:content";

const posts = (await getCollection("proyects")).sort(
    (a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf(),
);
---

<Layouts title="Proyects">
    <Header />
    <section>
        <h1>Proyects</h1>
        <div>
            {
                posts.map((post) => (
                    <Card
                        title={post.data.title}
                        tags={post.data.tags}
                        slug={post.slug}
                    />
                ))
            }
            <!-- <Card
			href="https://goncar29.github.io/video-games-js/"
			title="Vide Game"
			body="A little game created with JavaScript"
		/>
		<Card
			href="/"
			title="Open Weather Map"
			body="OpenWeather provides comprehensive weather data services, including current, forecast, and historical weather information."
		/>
		<Card
			href="https://goncar29.github.io/introReact/"
			title="TODO"
			body="Application to organize and list things to do"
		/>
		<Card
			href="https://tic-tac-toe-019.pages.dev/"
			title="Tic-Tac-Toe"
			body="The player who manages to place three of his marks in a horizontal, vertical or diagonal row is the winner."
		/>
		<Card
			href="/"
			title="Doctor's visit log"
			body="Application para registro de usuarios para visitas medicas"
		/>
		<Card
			href="https://carlosngonzalez07a25.myportfolio.com/"
			title="Graphic and web design portfolio"
			body="Here you can see some of the work done in graphic and web design, logo creation, brand labels, website and products."
		/>
		<Card href="/" title="titulo" body="descripcion" />
		<Card href="/" title="titulo" body="descripcion" /> -->
        </div>
    </section>
    <Footer />
</Layouts>
<style>
    section {
        display: flex;
        /* align-items: center; */
        justify-content: space-evenly;
        margin: 0 calc(100% - 88%);
        background-color: rgb(30, 27, 31);
        border-radius: 8px;
        color: rgb(178, 179, 180);
        height: 64vh;
        flex-direction: column;
        padding: 0 2rem;
    }
    h1 {
        display: grid;
        color: aliceblue;
        font-size: 4rem;
    }
    h2 {
        display: inline-block;
    }
    div {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
        gap: 2rem;
    }
    li {
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 1px;
        color: aliceblue;
        background-color: #23262d;
        background-image: none;
        background-size: 400%;
        border-radius: 7px;
        background-position: 50%;
        transition: background-position 2s cubic-bezier(0.22, 1, 0.36, 1);
        box-shadow: inset 0 0 0 1px rgba(255, 255, 255, 0.1);
    }
    li > a {
        width: 100%;
        text-decoration: none;
        line-height: 1.4;
        padding: calc(1.5rem - 1px);
        border-radius: 8px;
        color: white;
        opacity: 0.8;
    }
    li:is(:hover, :focus-within) {
        background-position: 0;
        background-image: var(--accent-gradient);
    }
    li:is(:hover, :focus-within) h2 {
        color: #23262d;
    }
</style>
