---
import Social from "./Social.astro";
import { getLangFromUrl, useTranslations } from "@i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<footer>
	<h1>{translation("contact.title")}</h1>
	<p>
		{translation("contact.info")}
	</p>
	<Social />
</footer>

<style>
	footer {
		display: flex;
		flex-direction: column;
		margin: 4rem 0;
		color: rgb(178, 179, 180);
		justify-content: flex-end;
		align-items: center;
	}
	h1 {
		display: grid;
		color: rgb(178, 179, 180);
		margin: 3rem 0;
		font-size: 4rem;
	}
	p {
		margin-top: 1.5rem;
		max-width: 35rem;
		line-height: 1.625;
		text-align: center;
		font-size: 1.3rem;
		color: rgb(178, 179, 180);
	}
	ul {
		display: flex;
		align-items: center;
		justify-content: center;
		justify-self: center;
		column-gap: 3rem;
		color: aliceblue;
		font-size: 1.5rem;
		list-style: none;
		margin: 3rem 0;
	}
	a {
		color: rgb(178, 179, 180);
		text-decoration: none;
	}
	a:hover {
		color: brown;
	}
</style>
