<section>
    <aside>
        <img
            src="https://miro.medium.com/v2/resize:fit:1400/1*nLbfO_PdTSpeCdZQuUr8RQ.png"
            alt="Foto Perfil"
        />
        <span class=""> Carlos Gonzalez 🚀</span>
    </aside>
    <aside>
        <ul>
            <a href="/about">Sobre mí</a>
            <a href="/proyects">Proyectos</a>
            <a href="/contact">Contactame</a>
        </ul>
    </aside>
    <aside>
        <img
            src="https://miro.medium.com/v2/resize:fit:1400/1*nLbfO_PdTSpeCdZQuUr8RQ.png"
            alt="modo oscuro (TODO)"
        />
    </aside>
</section>

<style>
    section {
        display: flex;
        align-items: center;
        margin-bottom: 2rem;
        font-size: 1.5rem;
        justify-content: space-around;
        color: #dad7d7;
        background: linear-gradient(
            rgba(30, 51, 29, 66%),
            rgba(20, 112, 13, 33%)
        );
        padding: 1.5rem;
        border-radius: 8px;
    }
    aside {
        display: flex;
        align-items: center;
        column-gap: 1.5rem;
        row-gap: 3rem;
    }
    img {
        width: 3rem;
        border-radius: 50%;
    }
    a {
        padding: 0 2rem;
        color: #dad7d7;
        text-decoration: none;
    }

    a:hover {
        color: brown;
    }
</style>
