---
import { getLangFromUrl, useTranslations } from "../i18n/utils";

const lang = getLangFromUrl(Astro.url);
const translation = useTranslations(lang);
---

<section>
	<aside>
		<h1 class="">{translation("home.iam")}</h1>
		<span>
			{translation("home.about")}
		</span>
	</aside>
	<aside>
		<img src="/1651156391905.jfif" alt="Foto Perfil" />
	</aside>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 calc(100% - 88%);
		background-color: rgba(30, 27, 31, 0.8);
		border-radius: 8px;
		color: rgb(178, 179, 180);
		height: 100vh;
		box-shadow: inset 0 0 30px rgba(255, 255, 255, 0.1);
	}

	aside {
		padding: 2rem;
	}
	h1 {
		font-size: 2rem;
	}
	span {
		max-width: 50rem;
		display: inline-block;
		font-size: 2rem;
	}
	img {
		border-radius: 50%;
	}
</style>
