<section>
	<aside>
		<h1 class="">
			To get started, open the directory <code>src/pages</code> in your project.<br
			/>
			<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message
			above.
		</h1>
		<span>
			Técnico en Diseño Gráfico y Diseño Web Profesional. En este momento
			sigo estudiando siendo autodidacta JavaScript, React.js, inglés,
			testing, bases de datos y node.js. Mi interés es la de poder seguir
			aprendiendo y desarrollar mis habilidades en tecnología, me siento
			motivado para mejorar y capacitarme. Lo veo como una manera de
			mejorar en mi carrera profesional.
		</span>
	</aside>
	<aside>
		<img src="../../public/1651156391905.jfif" alt="Foto Perfil" />
	</aside>
</section>

<style>
	section {
		display: flex;
		align-items: center;
		justify-content: center;
		margin: 0 calc(100% - 88%);
		background-color: rgb(27, 31, 27);
		border-radius: 8px;
		color: rgb(178, 179, 180);
		height: 100vh;
	}
	aside {
		padding: 2rem;
	}
	h1 {
		font-size: 2rem;
	}
	span {
		max-width: 50rem;
		display: inline-block;
		font-size: 2rem;
	}
	img {
		border-radius: 50%;
	}
</style>
