<section>
	<p class="instructions">
		To get started, open the directory <code>src/pages</code> in your project.<br
		/>
		<strong>Code Challenge:</strong> Tweak the "Welcome to Astro" message above.
	</p>
	<img
		src="https://media.licdn.com/dms/image/v2/C4D03AQHmJLbKv-yJrA/profile-displayphoto-shrink_800_800/profile-displayphoto-shrink_800_800/0/1651156391905?e=1734566400&v=beta&t=_S_alz5XqUUvR-KIeidapsKK2s0E2I5cmAPGQAiPgtc"
		alt="Foto Perfil"
	/>
</section>

<style>
	.instructions {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(
			rgba(30, 51, 29, 66%),
			rgba(20, 112, 13, 33%)
		);
		padding: 1.5rem;
		border-radius: 8px;
	}
	.instructions code {
		font-size: 0.8em;
		font-weight: bold;
		background: rgba(var(--accent-light), 12%);
		color: rgb(var(--accent-light));
		border-radius: 4px;
		padding: 0.3em 0.4em;
	}
	.instructions strong {
		color: rgb(var(--accent-light));
	}
</style>
